.section-weather {
  color: #fff;
  display: flex;
  justify-content: space-around;
  min-width: 50vw;
  min-height: 24vh;
  margin-top: 5vh;
  border: 0.1vw solid #6a00ff74;
  border-radius: 0.3rem;
  background-color: #6a00ff;
}

section div {
  padding: 1rem;
  text-align: left;
}

figure figcaption{
  font-weight: 600;
  text-align: center;
}