article {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  min-width: 23vw;
  min-height: 21vh;
  margin-top: 5vh;
  border: 0.1vh solid #9f96ab74;
  border-radius: 0.3rem;
  background-color: #9f96ab;
}

article img {
  width: 4rem;
}

article div {
  font-weight: 600;
  text-align: right;
}

article div h2,
small {
  position: relative;
  top: -2vh;
}

article div small {
  top: -4vh;
}
