.App {
  background-color: #8dc5dc;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}